<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tugasakhir2">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TugasAkhir2"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31"
        tools:ignore="ExtraText">
        android:name=".AppController"
        android:usesCleartextTraffic="true"



        <activity
            android:name=".LoginBidanActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TugasAkhir2.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuUtamaActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TugasAkhir2.NoActionBar">
        </activity>

        <activity android:name=".EdukasiPasienActivity" />
        <activity android:name=".EdukasiBidanActivity" />
        <activity android:name=".SubEdukasiActivity"/>
        <activity android:name=".PilihPengisianActivity"/>
        <activity android:name=".IsiIdentitasPasienActivity"/>
        <activity android:name=".PengisianPertamaActivity"/>
        <activity android:name=".PengisianSelanjutnyaActivity"/>
        <activity android:name=".IdentitasPasienActivity"/>
        <activity android:name=".IsiPengukuranPertamaActivity"/>
        <activity android:name=".IsiPengukuranSelanjutnyaActivity"/>
        <activity android:name=".DetailActivity"/>
        <activity android:name=".Detail2Activity"/>
        <activity android:name=".Detail3Activity"/>
        <activity android:name=".KSPRTrimester1Activity"/>
        <activity android:name=".KSPRTrimester23Activity"/>










    </application>

</manifest>